body {
    font-family: 'Poppins', sans-serif;
    padding: 2%;
}

h1 {
    font-size: 30px;
}

.head-name {
    color: rgb(198, 231, 10);
}

section {
    display: flex;


}

.half-width p {
    width: 90%;
    justify-content: space-between;

}

.link-button {
    text-decoration: none;
    font-weight: 600;
    background: linear-gradient(rgb(180, 207, 27), rgb(245, 209, 3));
    padding: 10px 10px;
    border-radius: 4px;
}