body {
    font-family: 'Poppins', sans-serif;


}

h1 {
    font-size: 30px;
}

.head-name {
    color: rgb(238, 83, 11);
}

section {
    display: flex;



}

.section-bg1 {
    background-image: url(images/background.png);
}

.half-width1 {
    width: 50%;
    padding: 10%;
    margin-top: 20px;
}

.half-width p {

    width: 90%;
    justify-content: space-between;

}

.link-button {
    text-decoration: none;
    font-weight: 600;
    background: linear-gradient(rgb(180, 207, 27), rgb(245, 209, 3));
    padding: 10px 10px;
    border-radius: 4px;
}

.section-bg2 {
    padding-top: 20;
}

.section-bg2 {
    background-image: url(images/section1-bg.png);
    background-position: right;
    background-repeat: no-repeat;
}

.section2-image {}

.section2-developer {
    width: 90%;
    padding: 10% 10%;
}