body {
    font-family: 'Poppins', sans-serif;

}

h1 {
    font-size: 30px;
}

.head-name {
    color: rgb(198, 231, 10);
}

section {
    display: flex;


}



.half-width p {
    width: 90%;
    justify-content: space-between;
}

.half-width img {}